
a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color:rgb(193, 193, 231);
}
body{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: blue;
padding: 10px;
}
section{
    background-image: url(logotipo_tienda.png);
    padding: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
div{
    padding: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
footer{
    padding: 25px;
    background-color: black;
    height: 15px;
    text-align: center;
}
footer a img{
    width: 20px;
    height: 20px;
    }
#prod{
    background-color: rgb(239, 239, 239);
}
.gallery {
    margin: 25px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  .gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .desc{
      padding: 1px;
      text-align:center;
  }
  button:hover{
background-color: black;
color: gold;
  }
  h4{
      text-align: left;
      font-family: sans-serif;
      font-size: 3mm;
      color:blue;
  }
  #titulo{
      text-align:center;
      color: dodgerblue;
  }
  #info{
      font-family: Arial, Helvetica, sans-serif;
      color:black;
      text-align: center;
  }
.cont{
    width: 20px;
    height: 20px;
    }
    #cent{
    text-align: center;
    }
    #What{
        color: rgb(77, 145, 9);
    }
    #you{
        color: red;
    }
    #face{
color:blue;
    }
    #inst{
        color: gold;
    }
    #in{
        background-color:tan;
    }
    #telf{
     color:cornflowerblue;
    }